{% extends 'layout.html.twig' %}

{% block content %}
    <div class="sign_up_block container-md container-custom">
        <h1>Je crée mon compte</h1>
        <form method="post" action="/User/register" novalidate>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="lastname">Nom</label>
                    <input type="text" class="form-control" name="lastname" id="lastname">
                </div>
                {% if errors.lastname is defined %}
                    {{ errors.lastname }}
                {% endif %}
                <div class="form-group col-md-6">
                    <label for="firstname">Prenom</label>
                    <input type="text" class="form-control" name="firstname" id="firstname">
                </div>
                {% if errors.firstname is defined %}
                    {{ errors.firstname }}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" name="email" id="Email" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            {% if errors.email is defined %}
                {{ errors.email }}
            {% endif %}
            <div class="form-group">
                <label for="password1">Mot de passe</label>
                <input type="password" class="form-control" name="password" id="password1">
            </div>
            <div class="form-group">
                <label for="password2">Confirmation du mot de passe</label>
                <input type="password" class="form-control" name="password2" id="password2">
            </div>
            <div class="form-group col-md-6">
                <label for="phone_number">Téléphone</label>
                <input type="tel" class="form-control" name="phone_number" id="phone_number">
            </div>
            {% if errors.phoneNumber is defined %}
                {{ errors.phoneNumber }}
            {% endif %}
            <div class="form-group">
                <label for="city">ville :</label>
                <select name="city" id="city" class="form-control">
                    {% if offerInfos.city is defined and  offerInfos.city is not same as ('') %}
                        <option value="{{ offerInfos.city }}">{{ offerInfos.city }}</option>
                    {% else %}
                        <option value="" disabled selected>Selectionnez</option>
                    {% endif %}
                    {% for department in departments %}
                        <optgroup label="{{ department.name }}">
                            {% for dep,citiesTab in citiesByDepartment if dep is same as (department.name) %}
                                {% for city in citiesTab %}
                                    <option label="{{ city.name }}" value="{{ city.name }}">{{ city.name }}</option>
                                {% endfor %}
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
                <div class="errors">
                    {% if errors.city is defined %}
                        {{ errors.city }}
                    {% endif %}
                </div>
            </div>
            <button type="submit" name="btn-register" class="btn-go btn-custom btn btn-light">Go !</button>
        </form>
    </div>
{% endblock %}