{% extends 'layout.html.twig' %}

{% block content %}
    <div class="sign_up_block container-md container-custom">
        <h1>Je modifie mes informations</h1>
        <form method="post" action="/Account/update">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="lastname">Nom</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" value="{{ data.lastname }}">
                    <div class="errors">
                        {% if errors.lastname is defined %}
                            {{ errors.lastname }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="firstname">Prenom</label>
                    <input type="text" class="form-control" name="firstname" id="firstname" value="{{ data.firstname }}">
                    <div class="errors">
                        {% if errors.firstname is defined %}
                            {{ errors.firstname }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" name="email" id="Email" value="{{ data.email }}">
            </div>
            <div class="errors">
                {% if errors.email is defined %}
                    {{ errors.email }}
                {% endif %}
            </div>
            <div class="form-group col-md-6 phone-group">
                <label for="phone_number">Téléphone</label>
                <input type="tel" class="form-control" name="phone_number"
                       placeholder="06 06 06 06 06" id="phone_number" value="{{ data.phone_number }}">
            </div>
            <div class="errors">
                {% if errors.phoneNumber is defined %}
                    {{ errors.phoneNumber }}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="city">ville :</label>
                <select name="city" id="city" class="form-control">
                    {% if data.user_city is defined and  data.user_city is not same as ('') %}
                        <option value="{{ data.user_city }}">{{ data.user_city }}</option>
                    {% else %}
                        <option value="" disabled selected>Selectionnez</option>
                    {% endif %}
                    {% for department in departments %}
                        <optgroup label="{{ department.name }}">
                            {% for dep,citiesTab in citiesByDepartment if dep is same as (department.name) %}
                                {% for city in citiesTab %}
                                    <option label="{{ city.name }}" value="{{ city.name }}">{{ city.name }}</option>
                                {% endfor %}
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
                <div class="errors">
                    {% if errors.city is defined %}
                        {{ errors.city }}
                    {% endif %}
                </div>
            </div>
            <button type="submit" name="btn-update" class="btn-go btn-custom btn btn-light">Modifier</button>
        </form>
    </div>
{% endblock %}