{% extends 'layout.html.twig' %}

{% block content %}
    <div class="looking_for_block container">
        <h1>Je dépose mon annonce</h1>
        <form method="post" action="/Offer/add" novalidate>
            <div class="form-check-inline">
                <div>
                    <input type="radio" name="product_type" id="tool" class="form-check-input" value="tool"
                            {% if offerInfos.productType is same as ('tool') %}
                    checked
                            {% endif %}/>
                    <label for="tool" class="form-check-label">Un outil</label>
                </div>
                <div>
                    <input type="radio" name="product_type" id="material" class="form-check-input" value="material"
                            {% if offerInfos.productType is same as ('material') %}
                    checked
                            {% endif %}/>
                    <label for="material" class="form-check-label">Un matériau</label>
                </div>
            </div>
            <div class="errors">
                {% if errors.productType is defined %}
                    {{ errors.productType }}
                {% endif %}
            </div>
            <div class="form-group">
                <select name="tools_products" id="tools_products" class="form-control
                {% if offerInfos.productType is not same as ('tool') %}
                    invisible
                {% endif %}
                ">
                    {% if offerInfos.product is not same as ('') %}
                        <option value="{{ offerInfos.product }}">{{ offerInfos.product }}</option>
                    {% else %}
                        <option value="" disabled selected>Selectionnez une catégorie</option>
                    {% endif %}
                    {% for product in products.tools if product.name is not same as offerInfos.product %}
                        <option value="{{ product.name }}">{{ product.name }}</option>
                    {% endfor %}
                </select>
                <select name="materials_products" id="materials_products" class="form-control
                {% if offerInfos.productType is not same as ('material') %}
                    invisible
                {% endif %}
                ">
                    {% if offerInfos.product is not same as ('') %}
                        <option value="{{ offerInfos.product }}">{{ offerInfos.product }}</option>
                    {% else %}
                        <option value="" disabled selected>Selectionnez une catégorie</option>
                    {% endif %}
                    {% for product in products.materials if product.name is not same as offerInfos.product %}
                        <option value="{{ product.name }}">{{ product.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="errors">
                {% if errors.product is defined %}
                    {{ errors.product }}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="offerTitle">Titre de l'annonce </label>
                <input required type="text" name="offerTitle" class="form-control" id="offerTitle" placeholder="Titre simple et explicite" value="{{ offerInfos.offerTitle }}">
            </div>
            <div class="errors">
                {% if errors.offerTitle is defined %}
                    {{ errors.offerTitle }}
                {% endif %}
            </div>
            <div class="form-group col-md-6" style="padding: inherit">
                <label for="transaction"> Souhaitez-vous proposer votre produit à la vente ou à la location ?</label>
                <select required name="transaction" id="transaction" class="form-control ">
                    {% if offerInfos.transaction is not same as ('') %}
                        <option value="{{ offerInfos.transaction }}">{{ offerInfos.transaction }}</option>
                    {% else %}
                        <option value="" disabled selected>Selectionnez</option>
                    {% endif %}
                    {% for transaction in transactions if transaction.name is not same as (offerInfos.transaction) %}
                        <option value="{{ transaction.name }}">{{ transaction.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description de l'annonce </label>
                <textarea required class="form-control" name="description" id="description" rows="3" placeholder="Ecrire une description">{{ offerInfos.description }}</textarea>
            </div>
            <div class="errors">
                {% if errors.description is defined %}
                    {{ errors.description }}
                {% endif %}
            </div>
            <div class="col-auto" style="padding: inherit">
                <label class="sr-only" for="price">Prix</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">€</div>
                    </div>
                    <input required type="text" name="price" class="form-control" id="price" placeholder="Prix" value="{{ offerInfos.price }}">
                </div>
            </div>
            <div class="errors">
                {% if errors.price is defined %}
                    {{ errors.price }}
                {% endif %}
            </div>
            <div class="container-fluid-add">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Image</label>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Image</label>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Image</label>
                </div>
            </div>
            <button type="submit" name="btn-add" value="submit" class="btn btn-light">Go !</button>
        </form>
    </div>
{% endblock %}

{% block javascript %}
<script>
    const selectToolsproducts = document.querySelector("#tools_products");
    const btnCheckTool = document.querySelector('#tool');
    const selectMaterialsproducts = document.querySelector("#materials_products");
    const btnCheckMaterial = document.querySelector("#material");
    btnCheckTool.addEventListener('change', function() {
    selectToolsproducts.classList.remove("invisible");
    selectMaterialsproducts.classList.add("invisible");
});
    btnCheckMaterial.addEventListener('change', function() {
    selectMaterialsproducts.classList.remove("invisible");
    selectToolsproducts.classList.add("invisible");
});
</script>
{% endblock %}
