{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-md card offer_container">
        <div class="card-body">
            <div class="first_row">
                <h3 class="card-title"> {{ detailsOffer.title }}</h3>
                <div class="top_right">
                    <div class="transaction_logo
                    {% if detailsOffer.transaction_name == 'Location' %}
                    yellow
                    {% endif %}
                    ">
                        {{ detailsOffer.transaction_name }}
                    </div>
                    {{ detailsOffer.price }} €
                </div>
            </div>
            <h4>Description :</h4><p class="card-text">{{ detailsOffer.description }}</p>
                {% if sellerShow == 'show' %}
            <form method="post" action="/offer/details">
                <input type="hidden" name="seller_hide" value="hide" />
                <button type="submit" name="btn_seller_hide" class="btn btn-light">Cacher les coordonées du vendeur</button>
            </form>
                    <div class="seller_details">
                        <h4>coordonnées du vendeur :</h4>
                        <p>
                            {{ sellerDetails.firstname }} {{ sellerDetails.lastname }}
                        </p>
                        <p><img
                                    src="/assets/images/icon_email.png"
                                    alt="icon email" height="20px"/>
                            <span> {{ sellerDetails.email }} </span></p>
                        <p><img
                                    src="/assets/images/icon_phone.png"
                                    alt="icon phone" height="20px"/>
                            <span> {{ sellerDetails.phone_number }} </span>
                        </p>
                        <p><img
                                    src="/assets/images/icon_city.png"
                                    alt="icon city" height="20px"/>
                            <span>
                                {{ sellerDetails.user_city }} ({{ sellerDetails.user_department }}) </span>
                        </p>
                    </div>
                {% else %}
                    <form method="post" action="/offer/details">
                        <input type="hidden" name="seller_show" value="show" />
                        <button type="submit" name="btn_seller_show" class="btn btn-light">Voir les coordonées du vendeur</button>
                    </form>
                {% endif %}
        </div>
    </div>
{% endblock %}
