{% extends 'layout.html.twig' %}

{% block title %}Offres liées à ma recherche{% endblock %}

{% block content %}

    <div class= "consult_list_offers_container">
        <h1>Je Recherche</h1>
        <form action="results.html.twig" method="post">
            <input type="radio" id="vente" name="transaction" value="vente">
            <label for="vente">Vente</label>
            <input type="radio" id="location" name="transaction" value="location">
            <label for="location">Location</label>
                <select name="department" id="department">
                    {% for department in departments %}
                        <option value={{ department.name }} selected>{{ department.name }}</option>
                    {% endfor %}
                </select>
                <select name="city" id="city">
                    {% for city in cities %}
                        <option value={{ city.name }}< selected>{{ city.name }}</option>
                    {% endfor %}
                </select>
            <input type="button" value="go!" class="consult_list_offers_button">
        </form>
        <div class="consult_list_offers_card">
            <div class  = "consult_list_offers_image">
                <img src="https://via.placeholder.com/100" alt="product_1">
            </div>
            <div class="card-body">
                <div class="tool_cartd_title">
                    <h3>Titre: {{ offerInfos.offerTitle }}</h3><p>
                    <h4>Prix:{{ offerInfos.price }}</h4><p></p>
                    <h4>Localisation:{{ department.name }}</h4><p></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
